.search-submit-btn{
    margin: 0px 3px;
    width: 100px;
    height: 56px;
}


 
  
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: pointer ;
    cursor: pointer;
  }
  
  input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px !important;
    border-top: none !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px !important;
  }

  .mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color: #00B2FF !important;
    --mdc-filled-button-label-text-color: #fff;
}